{% include "public/header.html" %}

        
             RBAC 内容区域

            <hr />

            <p style="color: red;">{{ index_info }}</p>
        {% if login_info %}
            <p style="color: red;">Hello {{ login_info.name }}</p>
            {% if login_info.is_admin %}
                <p style="color: red;">你好, 你是管理员, 拥有管理权限</p>
            {% endif %}
        {% else %}
            <h4>您现在尚未登录, 可以使用<a href="javascript:void(0);">http://127.0.0.1:9000{% url 'vlogin' %}?uid=\d</a>伪登录功能登录系统</h4>
        {% endif%}

             

{% include "public/footer.html" %}