{% include "public/header.html" %}

    <div class="modal-header">
        <h4>角色列表</h4>
        <a class="btn btn-default" href="{% url "role_add" %}">添加角色</a>
    </div>

    <div class="modal-body">
        <table class="table table-condensed table-hover">
            <tr>
                <th>角色ID</th>
                <th>角色名称</th>
                <th>角色状态</th>
                <th>操作</th>
            </tr>
            {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>{% if role.status == 1%}有效{% else %}无效{% endif %}</td>
                <td>
                    <a href="{% url "role_edit" %}?rid={{ role.id }}">编辑</a>
                    <a href="javascript:void(0);">删除</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% include "public/footer.html" %}