{% include "public/header.html" %}
    <div class="modal-header">
        <h4>编辑用户</h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal szt-form" method="post" action="{% url 'staff_add_act' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name" placeholder="" value="">
                </div>
                <span class="help-block" for="name">* 用户名</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="email" placeholder="" value="">
                </div>
                <span class="help-block" for="email">* 用户邮箱</span>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">保 存</button>
                </div>
            </div>
        </form>
    </div>

{% include "public/footer.html" %}